version: '3.9'

services:
  db:
    image: postgres:15
    container_name: LIS_postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: ./ 
    container_name: LIS_app
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@db:5432/$POSTGRES_DB?sslmode=disable
    ports:
      - "3000:3000"


volumes:
  pgdata: